*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--index: calc(1dvw + 1dvh);
	--header-color: #f4efec;
	--text-color: #cdc6c3;
	--gallery-gap: calc(var(--index) * 2);
}

@font-face {
	font-family: raleway-c;
	src: url('../assets/fonts/raleway-regular.woff2');
}

@font-face {
	font-family: outfit-c;
	src: url('../assets/fonts/outfit-regular.woff2');
}

/*---------------------------------------------- */

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	height: 100%;
	min-width: 0;
}

body {
	font-family: raleway-c, sans-serif;
	color: #fafafa;
	font-size: 1rem;
	background: #000 url('../assets/images/bg.jpg') center / 50px repeat;
}

.wrapper {
	height: 100%;
	min-width: 0;
	overflow: hidden-x;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.container {
	padding: 0 7dvw;
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: outfit-c, sans-serif;
}
/* Will-change */
.hero__image,
.hero__title,
.gallery,
.gallery__right,
.gallery__left,
.gallery__item {
	will-change: transform;
}
/* ====================================================================== */
.hero {
	min-height: 100dvh;
	position: relative;
}
.hero__image {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37dvw;
	top: 8dvh;
	z-index: -1;
}
.hero__title {
	line-height: 0.9;
	font-size: calc(var(--index) * 5);
	position: absolute;
	bottom: 12dvh;
	width: min-content;
	text-wrap: balance;
}

/* ====================================================================== */
.gallery {
	padding: calc(var(--index) * 8) 0;
}
.gallery__content {
	display: flex;
	gap: var(--gallery-gap);
	justify-content: center;
}

.gallery__col {
	display: grid;
	gap: calc(var(--index) * 2);
	flex: 50%;
}
.gallery__text {
	display: flex;
	flex-direction: column;
	gap: calc(var(--index) * 0.2);
	max-width: calc(var(--index) * 20);
	margin-top: 0;
}
.gallery__title {
	font-size: 2rem;
	line-height: 2.5rem;
}
.gallery__t {
	font-size: 1.2rem;
}
.gallery__item {
	max-height: 180dvh;
	border-radius: 0.5rem;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: calc(var(--index) * 21);
	margin-top: calc(var(--gallery-gap) * 2);
	gap: calc(var(--index) * 2);
}

.gallery__left .gallery__item {
	margin-top: calc(var(--gallery-gap) * 5);
}

/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
